<div class="max-w-[500px]">
  <h1 class="text-3xl font-bold">Profile</h1>
  <div class="mt-8">
    <span class="text-sm">Profile Picture</span>
    <div class="flex items-center space-x-5">
      <img
        class="object-cover w-20 h-20 rounded-full"
        src="https://m.media-amazon.com/images/I/81tpy7oo+EL._SS500_.jpg"
        alt=""
      />
      <button
        class="px-3 py-2 font-semibold bg-orange-100 rounded-3xl hover:bg-orange-200"
      >
        Change
      </button>
    </div>
  </div>
  <form>
    <div class="flex flex-col mt-4 sm:space-x-5 sm:flex-row">
      <div class="flex-1 form-group">
        <label class="text-sm" for="firstName">First name</label>
        <input id="firstName" class="form-control" value="Thang" />
      </div>

      <div class="flex-1 form-group">
        <label class="text-sm" for="lastName">Last name</label>
        <input id="lastName" class="form-control" value="Nguyen" />
      </div>
    </div>

    <div class="mt-2">
      <div class="form-group">
        <label class="text-sm" for="bio">Bio</label>
        <textarea id="bio" rows="3" class="form-control">🖤❌🤖</textarea>
      </div>
    </div>

    <div class="mt-2">
      <div class="form-group">
        <label class="text-sm" for="username">Username</label>
        <input id="username" cols="4" class="form-control" value="ndth4ng" />
      </div>
    </div>

    <div class="mt-2 text-center">
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
