<div class="fixed top-0 right-0 z-30 h-screen pt-[72px] pb-2 px-2">
  <div
    class="h-full w-[350px] bg-white border-2 rounded-3xl border-orange-500 py-4 pl-4 pr-1 overflow-hidden"
  >
    <h3 class="font-semibold text-center">Notification</h3>
    <div class="h-full mt-4 overflow-y-scroll">
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
    </div>
  </div>
</div>
