<div class="flex">
  <!-- Avatar -->
  <img
    class="object-cover w-8 h-8 mr-2 rounded-full aspect-square"
    src="https://i.pinimg.com/150x150/8a/c2/15/8ac2159ae006199d6a0f786d6585a0fe.jpg"
    alt=""
  />

  <!-- Content -->
  <div class="flex-grow">
    <!-- Username -->
    <p class="font-medium leading-snug">
      <span class="font-bold cursor-pointer hover:underline">ndth4ng</span>
      Aaaaaaaaaaaaa anh ơiii lấy iem điiii huhuhuhuhuhuhuhuh liêm sỉ qq j nx iem
      vứt nó lâu từ khi gặp mấy anh zai 2D r )='))))))))))))))))
    </p>
    <!-- Reaction -->
    <div class="-mt-1">
      <span class="text-sm font-medium text-gray-500">5 mins</span>
    </div>
  </div>
</div>
