<div
  ngxMasonryItem
  class="w-[49%] md:w-[24%] lg:w-[19%] xl:w-[16.1%] mb-4 max-h-[600px] flex flex-col"
>
  <div class="relative h-full cursor-pointer group">
    <img
      class="object-cover w-full h-full rounded-3xl"
      src="{{ post.image }}"
      alt=""
    />
    <div
      class="absolute inset-0 z-30 hidden w-full h-full rounded-3xl group-hover:block"
    >
      <div
        class="w-full h-full rounded-3xl bg-black/50"
        (click)="goToPost()"
      ></div>
    </div>
  </div>
</div>
