<div
  ngxMasonryItem
  class="w-[49%] md:w-[24%] lg:w-[19%] xl:w-[16.1%] mb-2 max-h-[400px] overflow-hidden border rounded-3xl group relative"
>
  <img class="object-cover w-full h-full" src="{{ post.image }}" alt="" />

  <div
    class="absolute inset-0 z-30 hidden w-full h-full transition-all duration-500 bg-black/50 group-hover:block"
  >
    <button
      class="absolute w-[50px] h-[50px] top-4 right-4 bg-red-500"
      (click)="logPost()"
    >
      {{ post.id }}
    </button>
  </div>
</div>
