<div class="p-2">
  <div class="flex items-center justify-between">
    <!-- Avatar -->
    <div class="flex items-center space-x-2">
      <img
        class="object-cover w-8 h-8 mr-2 rounded-full cursor-pointer aspect-square"
        src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.15752-9/281789624_755232262136514_5525735097629316281_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_ohc=E9nKo23v-lMAX-tLLz6&_nc_ht=scontent.fsgn2-4.fna&oh=03_AVI9vbBKgiSev18dkQDv0Z4vrTJIUSuOGO30C71vuel66g&oe=62B22500"
        alt=""
      />
      <!-- Username -->
      <span class="font-bold cursor-pointer hover:underline">Tú Hà</span>
    </div>

    <button class="btn btn-primary !px-4 rounded-3xl font-semibold">
      Follow
    </button>
  </div>
</div>
