<div class="flex flex-col items-center py-5">
  <div class="flex flex-col lg:flex-row w-full lg:w-[60%] lg:max-w-[1000px]">
    <div class="flex-1 p-5">
      <div>
        <img
          class="object-cover w-full h-full overflow-hidden rounded-t-3xl lg:rounded-r-none lg:rounded-l-3xl"
          src="{{ post.image }}"
          alt="{{ post.name }}"
        />
      </div>
    </div>
    <div class="flex-1 px-8">
      <!-- Header -->
      <div class="flex items-center pt-8">
        <div class="flex space-x-2">
          <!-- Download -->
          <div
            class="flex items-center justify-center w-10 h-10 transition-all duration-300 rounded-full cursor-pointer has-tooltip hover:bg-orange-300"
          >
            <fa-icon
              class="text-xl transition-all duration-300 hover:scale-110"
              [icon]="downloadIcon"
            ></fa-icon>
            <span
              class="p-1 mt-20 text-white bg-orange-500 rounded shadow-lg tooltip"
              >Download Image</span
            >
          </div>

          <!-- Copy link -->
          <div
            class="flex items-center justify-center w-10 h-10 transition-all duration-300 rounded-full cursor-pointer has-tooltip hover:bg-orange-300"
          >
            <fa-icon
              class="text-xl transition-all duration-300 hover:scale-110"
              [icon]="copyIcon"
            ></fa-icon>
            <span
              class="p-1 mt-20 text-white bg-orange-500 rounded shadow-lg tooltip"
              >Copy Image Url</span
            >
          </div>
          <!-- Heart -->
          <div class="flex items-center justify-center space-x-1">
            <fa-icon
              class="flex items-center justify-center w-10 h-10 text-xl transition-all duration-300 cursor-pointer hover:scale-125 active:text-red-500"
              [icon]="heartIcon"
            ></fa-icon>

            <span>24</span>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between mt-4 space-x-2">
        <div class="flex items-center space-x-2">
          <img
            class="object-cover w-10 h-10 rounded-full cursor-pointer"
            src="{{ post.image }}"
            alt="{{ post.name }}"
          />
          <div class="flex flex-col cursor-pointer">
            <span class="font-semibold">Thang Nguyen</span>
            <span class="text-sm">@ndth4ng</span>
          </div>
        </div>

        <button class="btn btn-primary !rounded-3xl">Follow</button>
      </div>
      <!-- Body -->
      <div class="mt-4">
        <h1 class="!font-sans text-4xl font-bold tracking-wide leading-tight">
          {{ post.title }}
        </h1>
        <p class="mt-4 font-medium description">{{ post.name }}</p>

        <!-- Comment Section -->
        <app-post-comment [post]="post"></app-post-comment>
      </div>
    </div>
  </div>

  <h2 class="text-2xl font-semibold">Related posts</h2>

  <div class="w-full mt-4">
    <ngx-masonry class="w-full" [options]="{ gutter: 8 }">
      <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
    </ngx-masonry>
  </div>
</div>
